/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-form-field { width: 100%; }

.element-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 960px;
  width: 100%;
  transform: translate(-50%, -50%);
}
